<div id="container">
  <div class="d-flex vh-100 justify-content-center">
      <div class="row align-self-center">
        <div class="card mr-5" style="width:400px">
          <div class="row mt-4">
            <h5>Scan QR Code Arrival:</h5>
          </div>
          <div class="row mt-4">
            <div class="card mr-5" style="width:400px">
              <div>
                <qr-scanner
                    [debug]="false"
                    [canvasWidth]="720" 
                    [canvasHeight]="720" 
                    [stopAfterScan]="true" 
                    [updateTime]="200"> 
                </qr-scanner>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://github.com/HasiniSandunika/CI-MS">GitHub</a>
    <p class="text-white">Designed by Hasini Sandunika</p>
  </div>
</footer>